extends layout

block content
    a.return(href="../") return to main page
    
    h1 Create new message

    if user
        if (user.account_type === 1 || user.account_type === 2)
            form(method="POST" action="create")
                div.divmargin
                    button Post the message

                div.divmargin
                    input(name="title" placeholder="title" type="text" value=(undefined===title ? '' : title))
                
                div.divmargin
                    textarea(name="message" cols="50" rows="20" placeholder="message" value=(undefined===message ? '' : message))
        else

            h3 You are not a full member.

            a(href="/account") Enter the secret key here
            |  to get member status.
    else
        h2 You need an account to post here.

        div.divmargin
            a(href="/login") Log In here first

        div.divmargin
            a(href="/signup") Or Sign Up here
            |, if You don't have an account yet
            
        

    p= msg