extends layout

block content
    a.return(href="../") return to main page
    
    h1 Sign Up

    if user

        p You are logged in
        a(href="/logout") Log out?

    else

        form(method="POST" action="")
            div.signup
                label(for="first_name") First name: 
                input(name="first_name" placeholder="Joe" type="text" value=(undefined===first_name ? '' : first_name))
            div.signup
                label(for="last_name") Last name: 
                input(name="last_name" placeholder="Doe" type="text" value=(undefined===last_name ? '' : last_name))
            div.signup
                label(for="username") Username: 
                input(name="username" placeholder="user1" type="text" value=(undefined===username ? '' : username))
            div.signup
                label(for="password") Password: 
                input(name="password" placeholder="make it secure" type="password")
            div.signup
                label(for="passwordConfirmation") Retype password: 
                input(name="passwordConfirmation" placeholder="again" type="password")

            button Sign Up

        p #{errMsg}