body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.signup {
  margin: 11px;
}

.divmargin {
  margin: 14px;
}

.board_message{
  min-height: 100px;
  width: 600px;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  padding: 7px;
  border: 1px solid;
  border-color: rgb(179, 179, 179);
  width: 60vw;
  max-width: 1500px;
  min-width: 400px;
  margin: 7px auto;
  text-align: left;
}

body{
  text-align: center;
}

.form_div{
  margin: 15px;
}

.return{
  position: fixed;
  left: 30px;
  top: 30px;
}